body {
    font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
    font-size: large;
}

div.mudcontent {
    padding-top: 7em;
}

span.welcome {
    position: relative;
    float: right;
    color: white;
    top: 1em;
}

#input {
    position: fixed;
    bottom: 1em;
    left: 10em;
}

#inbox {
    position: fixed;
    top: 5em;
    bottom: 5em;
    left: 10em;
    right: 10em;
    overflow: scroll;
    padding-right: 1em;
    overflow-x: hidden;
}

#inputbox {
    font-size: large;
    font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
    width: 50em;
}

div.alert.mud-echo {
    font-family: monospace;
    font-size: x-large;
/*    border: 1px solid #cccccc;*/
    padding: 0px;
}

.mud-echo pre {
    font-size: large;
    font-weight: bold;
    background-color: white;
    border: none;
    padding: 0px;
    margin: 0px;
}

.mud-echo pre:before {
    content: "> ";
}

.mud-result {
/*  background-color: #dff0d8;*/
    background-color: #eeeeee;
    border-color: #777777;
    color: black;
}

.mud-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442; /*#cbacb1;*/
}

.mud-info {
/*  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1; */
    background-color: #f9f9f9;
    border-color: #999999;
    color: #888888;
    font-style: italic;
}
