{% extends "base.html" %}
{% block content %}
<div id="inbox">
  {% for message in messages %}
    {% include "message.html" %}
  {% end %}
</div>
<div id="input">
  <form action="/play" method="post" id="messageform"
	class="form-inline" role="form">
    <div class="form-group">
      <label class="sr-only" for="inputbox">Command</label>
      <input type="text" name="command" id="inputbox" class="form-control" placeholder="Command"/>
    </div>
    <input type="submit" value="Send" class="btn btn-default"/>
    {% module xsrf_form_html() %}
  </form>
</div>
{% end %}
{% block js %}
selected_tab = "#tabhome";
start_websocket();
{% end %}
